#page-title {
  border-bottom: 2px solid Red;
  font-family: "Marvel", sans-serif;
  color: black;
  font-weight: 1000;
  font-size: larger;
  margin-right: 50px;
}
.quotes {
  align-items: flex-end;
  margin-left: 200px;
  font-size: medium;
  font-weight: 500;
  width: 75%;
  text-align: center;
  padding-top: 20px;
  color: #070707;
}

.has-text-centered {
  display: flex;
}
/* Background image */
.html-class {
  background: url("https://www.gannett-cdn.com/presto/2021/01/07/USAT/0d87949b-7f95-4318-a7f7-72f2b6893d05-marvel-shows.png?crop=1593,896,x6,y0&width=1593&height=896&format=pjpg&auto=webp")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

.html_clicked {
  background-color: black;
}

/* Div with search bar */
.search {
  margin: auto;
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.search_bar {
  width: 40%;
}

.search_bar:hover {
  border-color: red;
  transition: ease-in-out 0.2s;
}

/* Search Button */
.show_previous,
.show_next {
  background-color: rgb(85, 83, 83);
  border: none;
  border-radius: 33%;
  color: white;
  font-family: "Marvel", sans-serif;
  padding: 15px 20px;
  width: 100px;
  font-size: 14px;
  opacity: 75%;
}

.show_next {
  margin-left: 5px;
}
.search_btn {
  background-color: black;
  border: none;
  border-radius: 33%;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 300px;
  margin-left: 10px;
  font-family: "Marvel", sans-serif;
  opacity: 75%;
}

.search_btn_clicked {
  background-color: white;
  border: none;
  border-radius: 33%;
  color: rgb(85, 83, 83);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.search_btn:hover,
.show_next:hover,
.show_previous:hover {
  cursor: pointer;
  background-color: #383737;
  transition: ease-in-out 0.2s;
}

.search_results {
  background-color: black;
}

.show_buttons {
  display: flex;
  align-items: flex-end;
}

/* Search results container */

.search_results_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results {
  width: 275px;
  height: 575px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image_result {
  top: 0%;
  height: 330px;
  width: 100%;
}
.description {
  height: 20%;
  width: 100%;
  color: antiquewhite;
  font-size: auto;
  overflow: hidden;
  font-family: "Marvel", sans-serif;
}

.learn {
  width: 100%;
  align-items: center;
  text-align: center;
}

.learn_more {
  background-color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;

  font-size: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: none;
}

.learn_more_clicked {
  background-color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.go-back-button {
  display: none;
}

.show-more-button {
  display: none;
}
