#page-title {
  border-bottom: 2px solid Red;
  font-family: "Marvel", sans-serif;
  font-size: larger;
}
/* Background image */
html {
  background: url("https://www.gannett-cdn.com/presto/2021/01/07/USAT/0d87949b-7f95-4318-a7f7-72f2b6893d05-marvel-shows.png?crop=1593,896,x6,y0&width=1593&height=896&format=pjpg&auto=webp")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.html_clicked {
  background-color: black;
}

/* Div with search bar */
.search {
  margin: auto;
  width: 50%;
  padding: 10px;
  align-items: center;
  text-align: center;
}

.search_bar {
  width: 40%;
}

.search_bar:hover {
  border-color: red;
  transition: ease-in-out 0.2s;
}

/* Search Button */
.search_btn {
  background-color: black;
  border: none;
  border-radius: 33%;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.search_btn_clicked {
  background-color: white;
  border: none;
  border-radius: 33%;
  color: rgb(85, 83, 83);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.search_btn:hover {
  cursor: pointer;
  background-color: #383737;
  transition: ease-in-out 0.2s;
}

.search_results {
  background-color: black;
}

/* Search results container */

.search_results_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.results {
  width: 275px;
  height: 450px;
  position: relative;
  margin: 10px;
}
.image_result {
  position: absolute;
  top: 0;
  height: 60%;
  width: 100%;
}
.description {
  margin-bottom: 15px;
  margin: 10px;
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;
  color: antiquewhite;
  font-size: auto;
  overflow: hidden;
  font-family: "Marvel", sans-serif;
  padding-bottom: 10px;
}

.learn_more {
  background-color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: none;
}

.learn_more_clicked {
  background-color: white;
  border: none;
  border-radius: 25px 25px 25px 25px;
  color: black;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: none;
}
